/* Остальные стили */
.page.theme_dark {
  --decorated-zone_color: #ff0070;
  --decorated-zone-hover_color: rgb(255 0 112 / 0.4);
  --header__rec_color: #ff0070;
  --title_color: #db00ff;
  --accent-color: #ff0070;
  --background-image: url(./images/cover-image-dark.png);
  --background-color: #000028;
  --title-decor_color: #000028;
  --title-decor_background_color: #ff0070;
  --text-bold-color: #ff0070;
  --text-paragraph-color: #f1b2ce;
}
