.page {
  display: flex;
  flex-direction: column;
  gap: var(--header__margin-bottom);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  block-size: 100vh;
  position: relative;
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: var(--header__grid-template-areas);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--padding);
  left: calc(100% - var(--padding) - var(--decorated-zone__size));
  height: var(--decorated-zone__size);
  width: var(--decorated-zone__size);
  border-block-start: 1px solid var(--color_decorated);
  border-inline-end: 1px solid var(--color_decorated);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: calc(100% - var(--padding) - var(--decorated-zone__size));
  left: var(--padding);
  height: var(--decorated-zone__size);
  width: var(--decorated-zone__size);
  border-block-end: 1px solid var(--color_decorated);
  border-inline-start: 1px solid var(--color_decorated);
}

.header__rec {
  z-index: 1;
  position: absolute;
  top: var(--padding);
  left: calc(100% - var(--padding) - var(--decorated-zone__size) - 36px);
  color: var(--color_rec);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: right;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 42px;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: var(--color_rec);
}

.header__theme-menu {
  grid-area: header;
  grid-column: span 2;
  display: flex;
  align-items: var(--header__theme-menu_align-items);
  justify-content: var(--header__theme-menu_justify-content);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: var(--header__theme-menu-list_flex-direction);
  align-items: var(--header__theme-menu-list_align-items);
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  block-size: 26px;
  inline-size: 70px;
  outline: none;
  border: none;
  text-transform: lowercase;
  color: var(--color_decorated);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--color_decorated);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color_decorated);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--color_decorated);
}

.header__title {
  position: relative;
  grid-area: content;
  grid-column: span 2;
  color: var(--color_title);
  font-size: var(--header__title_font-size);
  font-weight: 700;
  line-height: var(--header__title_line-height);
  letter-spacing: 0em;
  text-align: left;
}

h1 {
  left: var(--header__title_left);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-bold-background {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-title_color);
  background-color: var(--text-title_background-color);
}

.text-normal-background {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-title_color);
  background-color: var(--text-title_background-color);
}

.text-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-bold-color);
}

.text-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-paragraph-color);
}

.word_shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.word_shadow:hover {
  border-block-end: 2px solid var(--text-paragraph-color);
}

.word_shadow:focus {
  outline: none;
}

.word_shadow:focus-visible {
  outline: none;
  border: 1px solid var(--text-paragraph-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--section__first_margin-bottom);
}

.section {
  padding: 0px var(--padding);
}

.section__first {
  display: grid;
  gap: var(--section__first_gap);
  grid-template-columns: var(--section__first_grid-template-columns);
  grid-template-areas: var(--section__first_grid-template-areas);
}

.section__header {
  grid-area: header;
}

.section__columns {
  grid-area: header2;
}

.section__columns-first {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__second {
  display: grid;
  gap: 20px;
  grid-template-columns: var(--section__second_grid-template-columns);
  grid-template-areas: var(--section__second_grid-template-areas);
}

.section__columns-second {
  display: grid;
  gap: 20px;
  grid-template-columns: var(--second-section_grid-template-columns);
}

.section__forty {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
}

.section__forty-img {
  display: grid;
  grid-template-columns: repeat(var(--section__forty-img_repeat), 1fr);
  /* для планшета, десктопа */ /* grid-template-rows: 1fr 1.20fr 1.69fr; */
  gap: var(--padding);
  /* для планшета, десктопа */ /* max-height: calc(100vw + 20px); */
  max-inline-size: 100vw;
}

.section__forty-img div {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__forty-img img {
  height: 100%;
}

.footer {
  block-size: 100vh;
  position: relative;
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}
