:root {
  /* декоративная графика */
  --decorated-zone__size: 25px;

  /* для темы dark*/
  --decorated-zone_color: #ff0070;
  --decorated-zone-hover_color: rgb(255 0 112 / 0.4);
  --header__rec_color: #ff0070;
  --title_color: #db00ff;
  --accent-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --title-decor_color: #000028;
  --title-decor_background_color: #ff0070;
  --text-bold-color: #ff0070;
  --text-paragraph-color: #f1b2ce;
}

/* для мобильных */
@media (width <= 415px) {
  :root {
    --padding: 10px;
    --header_grid-template-areas: "header header" "content content"
      "footer footer";
    --header__title_left: 0px;
    --title_font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --section_two-columns-head_grid-template-columns: 1fr;
    --page_gap: 40px;
    --section_two-columns-head_grid-template-areas: "header" "header2";
    --content_gap: 50px;
    --section_three-columns-head_grid-template-areas: "header" "header2";
    --section_three-columns-head_grid-template-columns: 1fr;
    --section_images_repeat: 1;
  }
}

/* для мобильных, планшета */
@media (width <= 768px) {
  :root {
    --header__theme-menu_justify-content: flex-end;
    --header__theme-menu_align-items: center;
    --header__theme-menu-list_flex-direction: column;
    --header__theme-menu-list_align-items: flex-start;
    --section_gap: 20px;
    --section_three-columns_grid-template-columns: 1fr;
    --section_two-columns-head_gap: 20px;
  }
}

/* для планшета, десктопа */
@media (415px < width) {
  :root {
    /* для планшета, десктопа */
    --padding: 20px;
    --header_grid-template-areas: "header header" "content content" ". footer";
    --header__title_left: -20px;
    --title_font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --section_two-columns-head_grid-template-columns: 1fr 2fr;
    --page_gap: 60px;
    --section_two-columns-head_grid-template-areas: "header header2";
    --content_gap: 80px;
    --section_three-columns-head_grid-template-areas: "header ." "header2 header2";
    --section_three-columns-head_grid-template-columns: 1fr 2fr;
    --section_images_repeat: 3;
  }
}

/* для десктопа */
@media (768px < width) {
  :root {
    /* для десктопа */
    --header__theme-menu_justify-content: center;
    --header__theme-menu_align-items: flex-start;
    --header__theme-menu-list_flex-direction: row;
    --header__theme-menu-list_align-items: center;
    --section_three-columns_grid-template-columns: 1fr 1fr 1fr;
    --section_two-columns-head_gap: 10px;
  }
}
